%h2.page-title Card task
%ul
  - @task.errors.full_messages.each do |message|
    %li
      - message
= form_with(model: @task, url: board_task_path(board_id: @board.id, id: @task.id), method: 'put', local: true) do |f|
  .field
    = f.label :eyecatch, 'Image'
    = f.file_field :eyecatch
  .field
    = f.label :title, 'Name'
    = f.text_field :title, class: 'text'
  .field
    = f.label :content, 'Description'
    = f.text_area :content, class: 'text'
  .field
    = f.label :deadline, 'DeadLine'
    = f.date_field :deadline, class: 'text'
  .actions.btn-wrap
    = f.submit 'Submit', class: 'btn-primary'
