
<h2 class="page-title">Card task</h2>
<ul>
    <% @task.errors.full_messages.each do |message| %>
        <li><% message %></li>
    <% end %>
</ul>
<%= form_with(model: @task, url: board_task_path(board_id: @board.id, id: @task.id), method: 'put', local: true) do |f| %>
    <div class="field">
        <%= f.label :eyecatch, 'Image'  %>
        <%= f.file_field :eyecatch %>
    </div>
    <div class="field">
        <%= f.label :title, 'Name' %>
        <%= f.text_field :title, class: 'text' %>
    </div>
    <div class="field">
        <%= f.label :content, 'Description' %>
        <%= f.text_area :content, class: 'text' %>
    </div>
    <div class="field">
        <%= f.label :deadline, 'DeadLine' %>
        <%= f.date_field :deadline, class: 'text' %>
    </div>
    <div class="actions btn-wrap">
        <%= f.submit 'Submit', class: 'btn-primary' %>
    </div>

<% end %>