<ul>
    <% board.errors.full_messages.each do |message| %>
        <li><% message %></li>
    <% end %>
</ul>
<%= form_with(model: board, local: true) do |f| %>
    <div class="field">
        <%= f.label :title, 'Name' %>
        <%= f.text_field :title, class: 'text' %>
    </div>
    <div class="field">
        <%= f.label :content, 'Description' %>
        <%= f.text_area :content, class: 'text' %>
    </div>
    <div class="actions btn-wrap">
        <%= f.submit 'Submit', class: 'btn-primary' %>
    </div>
<% end %>