
<h2 class="page-title">All Boards</h2>

<% @boards.each do |board| %>
    <div class="board-item">
        <div class="board-item-wrapper">
            <div class="board-item-left"><%= board.title %></div>
            <% if user_signed_in? && current_user.has_written?(board) %>
                <div class="board-item-right">
                    <div class="dropdown">
                        <%= image_tag 'Combined Shape.png', class: 'dropbtn' %>
                        <div class="dropdown-content">
                            <%= link_to 'edit', edit_board_path(board) %>
                            <%= link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'} %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="board-item-content"><%= board.content %></div>
        <div class="board-item-avatar"><%= image_tag 'Oval-man.png' %></div>
    </div>
<% end %>

<%= link_to new_board_path do %>
    <div class="board-new">+ Add new board</div>
<% end %>