<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <div class="container">
          <h1>Boards</h1>
          <%# if user_signed_in? %>
            <%# .dropdown %>
              <%# = image_tag current_user.avatar_image, class: 'header_avatar dropbtn ' %>
          <%# end %>
        </div>
        <p class="header-border"></p>
      </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
