!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .container
        .header-left
          = link_to root_path do
            %h1 Boards
        - if user_signed_in?
          .header-right
            .dropdown
              = image_tag current_user.avatar_image, class: 'header_avatar'
              .dropdown-content
                = link_to 'myPage', profile_path
                = link_to 'logout', destroy_user_session_path, data: { method: 'delete' }
        - else
          .header-right
            .dropdown
              = image_tag 'Combined Shape.png', class: 'header_setting'
              .dropdown-content
                = link_to 'logIn', new_user_session_path
      %p.header-border
    - if flash.present?
      .flash
        - flash.each do |key,val|
          %div{:class => key}= val
    .container
      %p.notice
      %p.alert
      = yield
