<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <div class="container">
          <div class="header-left">
            <%= link_to root_path do %>
              <h1>Boards</h1>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="header-right">
              <%= image_tag 'Oval-woman.png', class: 'header_avatar' %>
            </div>
          <% end %>
        </div>
        <p class="header-border"></p>
      </header>
      <% if flash.present? %>
        <div class="flash">
          <% flash.each do |key,val| %>
            <div class="<%= key %>"><%= val %></div>
          <% end %>
        </div>
      <% end %>
    <div class="container">
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%#= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
